* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  direction: rtl;
  font-family: "Tajawal", sans-serif;
}


.contact-us-section-page{
  text-align: right;
}

@media (max-width: 768px) {
  .contact-us-map iframe{
    width: 300px;
    margin: auto;
  } 
}


