* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  direction: rtl;
  font-family: "Tajawal", sans-serif;
}

/*<!-- Start Nav Bar -->*/
.navigation-bar nav {
  background-color: white;
}

.navigation-bar img {
  height: 64px;
  width: auto;
}

.navigation-bar .styled-a a {
  color: white !important;
  background-color: #3957ff !important;
}

.navigation-bar .navbar-toggler {
  background-color: #101b2b;
}
.navigation-bar .navbar-brand {
  color: black !important;
  font-size: medium;
}

.navigation-bar .navbar-brand .nav-brand-text {
  font-size: medium;
  margin: 1%;
}

.navigation-bar .nav-item {
  text-align: right;
  font-size: medium;
}

.navigation-bar .nav-item a {
  color: #4b2957 !important;
}

.navigation-bar .nav-item :hover {
  color: #3957ff !important;
}

.navbar-dark .navbar-nav .active > .nav-link {
  color: #3957ff !important ;
}

@media (max-width: 768px) {
  .navigation-bar img {
    height: 32px;
    width: auto;
  }

  .navigation-bar .navbar-toggler {
    font-size: x-small;
  }

  .navigation-bar .navbar-brand {
    font-size: small;
  }
  .navigation-bar .navbar-brand .nav-brand-text {
    font-size: small;
    margin: 1%;
  }

  .navigation-bar .nav-item {
    font-size: small;
  }
}

/*<!-- End Nav Bar -->*/

/*<!-- Start Intro Section -->*/

.intro-section {
  margin-top: 1%;
  margin-bottom: 5%;
}

.intro-section .card-title {
  color: #3957ff;
}

.intro-section .card .card-img-overlay {
  text-align: center;
  font-size: xx-large;
  margin-top: 4%;
}

@media (max-width: 768px) {
  .intro-section {
    margin-bottom: 10%;
  }
  .intro-section .card {
    height: 35vh;
  }

  .intro-section .card img {
    height: 35vh;
  }

  .intro-section .card .card-img-overlay h2 {
    text-align: center;
    font-size: small;
  }

  .intro-section .card .card-img-overlay p {
    text-align: center;
    font-size: x-small;
  }

  .intro-section .card .card-img-overlay button {
    text-align: center;
    font-size: x-small;
    margin-top: 0;
  }
}

/*<!-- End Intro Section -->*/

/*<!-- Start Services Section -->*/
.service-section h5,
span {
  color: #3957ff;
}

.service-section h5 {
  text-align: right;
}
.service-section .card {
  text-align: right;
  margin: 1%;
  padding: 1%;
  font-size: medium;
  border: none;
}

.service-section .card-body {
  border: 1px solid#dddddd;
}

.service-section .card-group img {
  height: 64px;
}

.service-section .specail-card .card-body {
  border: none !important;
}

/*<!-- End Services Section -->*/

@media (max-width: 768px) {
  /*<!-- Start Services Section -->*/

  .service-section .card {
    font-size: small;
  }

  /*<!-- End Services Section -->*/
}

/*<!-- Start About Section -->*/

.about-section .card {
  text-align: right;
  border: none;
  width: 100% !important;
}

.about-section span {
  color: white;
}

.about-section .right-about-card {
  background-color: #3957ff;
  color: white;
}

.about-section .card .card-body {
  margin-right: 5%;
}

.
/*<!-- End About Section -->*/





/*<!-- ÙStart Contact Section -->*/
.contact-us-section {
  text-align: right;
}

.contact-us-section {
  text-align: right;
  background-color: #edf2ff;
  color: white;
  height: 70vh;
}
.contact-us-form {
  text-align: right;
  background-color: #3957ff;
  top: 100px;
 }

.contact-us-form form input  {
  margin-top: 10%;
  margin-bottom: 10%;
}


.contact-us-form form select  {
  margin-top: 10%;
  margin-bottom: 10%;
}


.contact-us-form form button  {
  margin-top: 10%;
  margin-bottom: 10%;
  width: 100%;
}
@media (max-width: 768px) {
  .contact-us-section {
    font-size: small;
  }
  .contact-us-form {
    font-size: small;
  }

  .contact-us-form form input  {
    font-size: small;
  }

  .contact-us-form form select  {
    font-size: small;
   }
}

/*<!-- End Contact Section -->*/

/*<!-- Start News and Specailty Section -->*/
.new-speacilty-section {
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: right;
}

.new-speacilty-section .speacilty-card {
  border-top: 3px solid #ffb400;
}

.new-speacilty-section .speacilty-card .card {
  border: none;
}

.new-speacilty-section .speacilty-card h5 {
  color: #ffb400;
}

.new-speacilty-section .speacilty-card .card li {
  list-style: none;
  line-height: 2rem;
}

.new-speacilty-section .news-card {
  border-top: 3px solid black;
}

.new-speacilty-section .news-card .card {
  border: none;
}

.new-speacilty-section .news-card .card-news-img {
  margin: auto;
}

/*<!-- End News and Specailty Section -->*/

@media (max-width: 768px) {
  /*<!-- Start About Section -->*/

  .about-section .card .card-body h5 {
    font-size: medium;
  }

  .about-section .card .card-body {
    font-size: x-small;
  }
}

/*<!-- Start Footer Section -->*/
.site-footer {
  background-color: #101b2b;
  height: 30vh;
  font-size: xx-large;
  text-align: right;
}
.site-footer a {
  text-decoration: none;
  color: #59abc0;
}

.site-footer p {
  color: white;
}
@media (max-width: 768px) {
  .site-footer {
    font-size: large;
  }
}

/*<!-- End Footer Section -->*/
